.home {
    min-width: 500vw;
    max-height: 100vh;
    background-color: #FFC9E0;
    overflow-x: hidden;
}
.buttons {
    float: left;
}
button img {
    display: block;
}
@font-face {
    font-family: RaglanPunch;
    src: url(https://github.com/anti-yarik/anti-yarek/blob/main/assets/fonts/FOT-RaglanPunchStd/Web-TT/raglan-punch.css);
}
#placeholder {
    font-family: RaglanPunch;
}